<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block metarefresh %}{%endblock%}
        <title>Waiter Caller</title>
        <!-- Bootstrap core CSS -->
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5
        elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            ul.errors{
                list-style-type:none;
                padding: 0;
                color: red;
            }
            .reg-container{
                padding: 0px;
            }
        </style>
    </head>
    {%block bodytag%}
    <body>
    {%endblock%}
        {% block navbar %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">Dashboard</a>
                    <a class="navbar-brand" href="/account">Account</a>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
        {% endblock %}
        <div class="container">
            <hr>
            <footer>
                <p>&copy; A. Non 2015</p>
            </footer>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster-->
        <script   src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    </body>
</html>